{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h3>Lista de Vendas</h3>

<a href="{% url 'cadastros-venda' %}" class="btn btn-primary btn-sm">Novo</a>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Produto</th>
            <th>Valor</th>
            <th>Estabelecimento</th>
            <th>Vendedor</th>
            <th>Opções</th>
        </tr>

        {% for venda in object_list %}
        <tr>
            <td>{{ venda.produto.nome }}</td>
            <td>R$ {{ venda.valor_final }}</td>
            <td>{{ venda.estabelecimento.nome }}</td>
            <th>{{ venda.usuario}}</th>
            <td>
                <a href="{% url 'editar-venda' venda.pk %}" class="btn btn-warning btn-sm">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-venda' venda.pk %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum produto cadastrado.</td>
        </tr>

        {% endfor %}

    </table>
</div>


{% endblock %}